@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html, * {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  height: 3em;
  width: 100%;
  box-shadow: 0 4px 0 rgb(0, 0, 0, 0.15);
  position: fixed;
  padding-bottom: 40px;
  display: flex;
  z-index: 100;
  background-color: #fff;
}

header > h1 {
  margin-top: 25px;
  margin-left: 10%;
  margin-right: auto;
  height: 100%;
}

/*
  # Styling for cards 
  
  using reverse animation for smooth experience
  https://tobiasahlin.com/blog/how-to-animate-box-shadow/
*/
card {
  position: relative;
  z-index: 1;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

card::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

card:hover::after {
  opacity: 1;
}

@media (max-width: 800px) {
  .card-holder {
    flex-direction: row;
  }
}

.card-holder {
  padding-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

card > img {
  height: 40%;
  width: 100%;
  z-index: 0;
  object-fit: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

card > h1 {
  font-size: 20px;
  text-align: center;

  color: rgb(0, 0, 0);
  transform: translateY(20px);
}

card > p {
  color: rgb(77, 77, 77);
  text-align: center;
  transform: translateY(30px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.date {
  color: rgb(0, 0, 0);
  width: 100%;
}